asgiref==3.8.1
boto3==1.39.9
botocore==1.39.9
crispy-bootstrap4==2025.6
dj-database-url==0.5.0
Django==5.2
django-allauth==65.7.0
django-countries==7.6.1
django-crispy-forms==2.4
django-storages==1.14.6
gunicorn==23.0.0
jmespath==1.0.1
pillow==10.3.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-decouple==3.8
s3transfer==0.13.1
setuptools==75.8.0
sqlparse==0.5.3
stripe==12.3.0
whitenoise==6.9.0
