<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="beverages-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beverages
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="beverages-link">
                <a href="{% url 'products' %}?category=juices" class="dropdown-item">Juices</a>
                <a href="{% url 'products' %}?category=	mineral_water" class="dropdown-item">Mineral Water</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="snacks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Snacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="snacks-link">
                <a href="{% url 'products' %}?category=snacks" class="dropdown-item">Snacks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="comingSoon-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coming Soon
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="comingSoon-link">
                <a href="{% url 'products' %}?category=coming_soon" class="dropdown-item">Coming Soon</a>
            </div>
        </li>
    </ul>
</div>